{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
<section class="section-color" style="height: 100%">
<div align="center">
    <div  class="tm-container" style="padding-top: 200px; margin: 0; padding-bottom: 50px; height: 100vh; min-height: 100%">
        <div align="center" class="tm-main-nav" >
            <ul style="align-items: center; justify-content: center">
                <li class="tm-nav-item">
                    <a href="tel:+79168071904" data-effect="mfp-move-from-top" class="tm-nav-link" target="_blank">
                        <p><i style="color: #6A5ACD" class="fa-solid fa-5x fa-phone"></i></p>
                        <p style="color: #FFFFFF">+7-(916)-807-19-04</p>
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="mailto:nikita321@bk.ru" data-effect="mfp-move-from-top" class="tm-nav-link" target="_blank">
                        <p><i style="color: #6A5ACD" class="fa-regular fa-5x fa-envelope"></i></p>
                        <p style="color: #FFFFFF">nikita321@bk.ru</p>
                    </a>
                </li>
                <li class="tm-nav-item">
                    <a href="https://t.me/Chikcharyk" data-effect="mfp-move-from-top" class="tm-nav-link" target="_blank">
                        <p><i style="color: #6A5ACD" class="fa-brands fa-5x fa-telegram" ></i>
                        <p style="color: #FFFFFF">@Chikcharyk</p>
                        <h1></h1>
                        <h2></h2>
                        <p align="center">*предпочитаемый способ связи</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</section>
{% endblock %}
