{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
<section style="height: 100%">


    <div style="
    margin-top: 80px;
    margin-right: 10%;
    float: right;
    height: 60px;
    width: 300px;
    background: linear-gradient(to top left, #310062,#310062);
    border-radius: 10px
    " >
        <div style="margin-top: 5px">
            <div style="float: left; color: #6A5ACD; margin-left: 10px"
            > <i class="fa-solid fa-3x fa-circle-info"></i></div>
            <div style="color: white" align="center">
                 Температура в Москве {{ current_temp }}°
            </div>
            <div style="color: white" align="center">
                Сейчас {% now "j E H:i" %}
            </div>
        </div>
    </div>

    <div class="tm-container" style="padding-top: 200px; margin-top: 50px; padding-bottom: 50px">
        <nav class="tm-main-nav" style="height: 100%">
            <ul>
                <li class="tm-nav-item" style="border-radius: 50px; border: none;">
                    <a href="{% url 'information:projects' %}" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <span class="cursor typewriter-animation">
                            Проекты
                        </span>
                        <i style="color: #6A5ACD" class="fa-solid fa-5x fa-code"></i>
                    </a>
                </li>
                <li class="tm-nav-item" style="border-radius: 50px; border: none">
                    <a href="{% url 'information:stack' %}" data-effect="mfp-move-from-top" class="tm-nav-link" id="tm-gallery-link">
                        <span class="cursor typewriter-animation">
                            Стек технологий
                        </span>
                        <i style="color: #6A5ACD" class="fa-solid fa-5x fa-microchip"></i>
                    </a>
                </li>
                <li class="tm-nav-item" style="border-radius: 50px; border: none">
                    <a href="{% url 'cosmostore:index' %}" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <span class="cursor typewriter-animation">
                            Магазин
                        </span>
                        <i style="color: #6A5ACD" class="fa fa-5x fa-shopping-bag"></i>
                    </a>
                </li>

                <li class="tm-nav-item" style="border-radius: 50px; border: none">
                    <a href="{% url 'blog:blog' %}" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <span class="cursor typewriter-animation">
                            Бложик
                        </span>

                        <i style="color: #6A5ACD" class="fa-regular fa-5x fa-newspaper"></i>
                    </a>
                </li>
                <li class="tm-nav-item" style="border-radius: 50px; border: none">
                    <a href="{% url 'information:contact' %}" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <span class="cursor typewriter-animation">
                            Контакты
                        </span>
                        <i style="color: #6A5ACD" class="fa fa-5x fa-address-card"></i>
                    </a>
                </li>
                <li class="tm-nav-item" style="border-radius: 50px; border: none">
                    <a href="{% url 'tools:converter' %}" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <span class="cursor typewriter-animation" style="font-size: 18px">
                            Конвентер валют
                        </span>
                        <i style="color: #6A5ACD" class="fa fa-5x fa-money-bill"></i>
                    </a>
                </li>
                <li class="tm-nav-item" style="border-radius: 50px; border: none">
                    <a href="{% url 'tools:converter_to_pdf' %}" data-effect="mfp-move-from-top" class="tm-nav-link">
                        <span class="cursor typewriter-animation" style="font-size: 18px">
                            Word в PDF
                        </span>
                        <i style="color: #6A5ACD" class="fa fa-5x fa-money-bill"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</div>
</section>
{% endblock %}
