{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="section-color" style="height: 100vh">
  <div align="center" style="height: 800px" >
    <p ><i style="color: #FFFFFF; margin-top:10%; padding-top: 20px"  class="fa-solid fa-5x fa-code"></i></p>
    <h1 style="color: #FFFFFF">
      Мои пет-проекты:
    </h1>
    <hr >
    <div>
      <ol style="font-size: 30px; color: #FFFFFF ">
        <li>Сайт на котором Вы находитесь. (Ссылку на гитхаб предоставлю при запросе)</li>
        <li> <a href="https://github.com/KitaRomanov/django_learn_project.git">Проект интернет магазина</a> </li>
        <li> Телеграмм бот  (в разработке) </li>
        <li> Приложение на основе микросервисной архитектуры (на стадии планирования, разработка после тг бота) </li>
      </ol>
    </div>
  </div>

</section>
{% endblock %}
