{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <section  style="height: 100%">
      <div align="center" >
          <div style="margin-bottom: 10%">
          </div>
          <div style="background: rgba(0, 0, 0, 0.5)">
            <p ><i style="color: #46007e; padding-top: 20px" class="fa-solid fa-5x fa-code"></i></p>
            <h1 style="color: #46007e">
              Мои пет-проекты:
            </h1>
            <br >
          </div>
        <div style="background: rgba(0, 0, 0, 0.5)">
          <ol style="font-size: 30px;">
            <li style="color: #46007e; font-family: FontName">Сайт на котором Вы находитесь. (Ссылку на гитхаб предоставлю при запросе)</li>
              <li></li>
            <li style="color: #46007e; font-family: FontName"> <a href="https://github.com/KitaRomanov/django_learn_project.git">Проект интернет магазина</a> </li>
            <li></li>
            <li style="color: #46007e; font-family: FontName"> <a href="https://github.com/KitaRomanov/game_FAEW">Простенькая игра</a> </li>
            <li></li>
              <li style="color: #46007e; font-family: FontName"> <a href="https://t.me/lie_weather_bot" >Телеграмм бот подключенный к API магазина, выдает товары<a/> </li>
              <li></li>
          </ol>
        </div>
      </div>

    </section>
{% endblock %}