{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <section>
    <div style="margin-bottom: 10%"></div>
  <div align="center">
      <div style="background: rgba(0, 0, 0, 0.5)">
          <h1 style="color: #46007e; font-family: FontName">
            Стек технологий, которыми я владею:
          </h1>
            <br>
      </div>
    <div style="background: rgba(0, 0, 0, 0.5)">
      <p style="font-size: 35px; color: #46007e; font-family: FontName"><i style="color: #46007e" class="fa-brands fa-python"></i>   Язык программирования: Python</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName"> Unit tests</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName"><i style="color: #46007e" class="fa-solid fa-database"></i>   Базы данных: PostgreSQL, SQLite, Redis</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName"> Django</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName">Celery</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName"><i style="color: #46007e" class="fa-brands fa-github"></i> Git</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName"><i style="color: #46007e" class="fa-brands fa-linux"> <i style="color: #46007e" class="fa-brands fa-ubuntu"></i> </i> Linux (Ubuntu)</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName"><i style="color: #46007e" class="fa-solid fa-a"></i><i style="color: #46007e" class="fa-solid fa-p"></i><i style="color: #46007e" class="fa-solid fa-i"></i> REST API</p>
      <p style="font-size: 35px; color: #46007e; font-family: FontName"><i style="color: #46007e" class="fa-brands fa-html5"></i> <i style="color: #46007e" class="fa-brands fa-css3-alt"></i> HTML/CSS</p>
    </div>
  </div>
</section>
{% endblock %}
