{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <section style="height: 100%;">
  <div  style="margin: 50px">
  <h1 style="color: black; font-family: FontName">
    Стек технологий, которыми я владею:
  </h1>
    <br>
    <div  style="height: 100vh; min-height: 100%; " >
      <p style="font-size: 35px; color: #000000; font-family: FontName"><i style="color: black" class="fa-brands fa-python"></i>   Язык программирования: Python</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName"> Unit tests</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName"><i style="color: black"  class="fa-solid fa-database"></i>   Базы данных: PostgreSQL, SQLite, Redis</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName"><i style="color: black"  class="fa-solid fa-d"></i><i style="color: black" class="fa-solid fa-j"></i> Django</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName">Celery</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName"><i style="color: black"  class="fa-brands fa-github"></i> Git</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName"><i style="color: black"  class="fa-brands fa-linux"> <i class="fa-brands fa-ubuntu"></i> </i> Linux (Ubuntu)</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName"><i style="color: black"  class="fa-solid fa-a"></i><i style="color: black" class="fa-solid fa-p"></i><i style="color: black" class="fa-solid fa-i"></i> REST API</p>
      <p style="font-size: 35px; color: #000000; font-family: FontName"><i style="color: black"  class="fa-brands fa-html5"></i> <i style="color: black" class="fa-brands fa-css3-alt"></i> HTML/CSS</p>
    </div>
  </div>
</section>
{% endblock %}
