{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}
    <section class="section-color" style="height: 100vh">
  <div style="height: 800px" align="center">
    <p><i style="color: #FFFFFF; margin-top:10%; padding-top: 20px" class="fa-sharp fa-solid fa-5x  fa-microchip"></i></p>
  <h1 style="color: #FFFFFF">
    Стек технологий, которыми я владею:
  </h1>
    <hr >
    <div>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-brands fa-python"></i>   Язык программирования: Python</p>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-solid fa-database"></i>   Базы данных: MySQL, PostgreSQL, SQLite</p>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-solid fa-d"></i><i class="fa-solid fa-j"></i> Django</p>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-brands fa-github"></i> Git</p>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-brands fa-linux"> <i class="fa-brands fa-ubuntu"></i> </i> Linux (Ubuntu)</p>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-brands fa-docker"></i> Docker</p>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-solid fa-a"></i><i class="fa-solid fa-p"></i><i class="fa-solid fa-i"></i> REST API</p>
      <p style="font-size: 35px; color: #FFFFFF"><i class="fa-brands fa-html5"></i> <i class="fa-brands fa-css3-alt"></i> HTML/CSS</p>
    </div>
  </div>

</section>
{% endblock %}
