{% if baskets %}

      <div align="center">
         <p class="text" style="margin-bottom: 0; font-size: 30px">Корзина </p>
            <p class="text" style="margin-top: 0; font-size: 30px">Всего товаров - {{ baskets.total_quantity }} шт.</p>


          {% for basket in baskets %}
              <div >
                  <div class="product_in" >
                      <div>
                        <h5 class="textbasket">{{ basket.product.name }}</h5>
                        <p class="textbasket1">{{ basket.product.description }}</p>
                      </div>
                      <ul style="list-style-type: none; padding: 0">
                        <li>
                          <div  align="center">
                                  <p class="textbasket1">{{ basket.quantity }}</p>
                          </div>
                            <div>
                                <span class="textbasket" >{{ basket.sum }} ♅</span>
                                <span><a href="{% url 'store:basket_remove' basket.id %}" class="basket_remove">
                                  <i class="fas fa-2x fa-trash"></i></a>
                                </span>
                            </div>

                        </li>
                      </ul>
                  </div>
            </div>
          {% endfor %}

        <div class="container1" style="border-radius: 60px; margin-top: 5px; height: 160px">
          <div>
            <p class="textbasket" style="margin-bottom: 0; margin-top: 0">Итого</p>
            <p class="textbasket" style="margin-bottom: 0; margin-top: 0">{{ baskets.total_sum }} ♅ </p>
              <button type="submit" class="btn_enter rounded" style="margin-bottom: 0"><span class="text-green">Оформить заказ</span></button>
          </div>
        </div>


      </div>
      <div>. </div>

{% else %}
        <div class="textbasket">Корзина пуста </div>
{% endif %}