@import url("fonts/stylesheet.css")
* {
    margin: 0;
    padding: 0;
}
body { margin: 0; height:100% }

.main_brand {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
}

.nav_brand {
    background: rgba(255,255,255, 25);
    opacity: 0.7;
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    border: none;
}
.icon {
    height: 100%;
}

.container {
    margin-top: 200px;
    margin-left: 3%;
    overflow: auto;
    background: rgba(255,255,255, 0.5);
    width: 94%;
    height: 110%;
    padding: 20px;
    border-radius: 50px
}
.container1 {
    margin-top: 10px;
    margin-left: 3%;
    overflow: auto;
    background: rgba(255,255,255, 0.5);
    width: 94%;
    height: 110%;
    padding: 20px;
    border-radius: 50px
}

@font-face {
    font-family: 'FontName';
    src: url('KellySlab-Regular.ttf');
}

.text {
    font-family: FontName, sans-serif;
    font-size: 50px;
}

.text_icon {
    font-family: "Canis Minor";
    font-size: 80px;
    text-decoration: none;
    color: #0a023b;
}
.product-wrapper {
    display: block;
    width: 100%;
    float: left;
    transition: width .4s;
}
@media only screen and (min-width: 450px) {
    .product-wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 768px) {
    .product-wrapper {
        width: 50%;
    }
}

@media only screen and (min-width: 1000px) {
    .product-wrapper {
        width: 33.333%;
    }
}
.product {
    display: block;
    border-radius: 50px;
    position: relative;
    background: rgba(0,0,0, 0.5);
    margin: 0 20px 20px 0;
    text-decoration: none;
    color: #474747;
    z-index: 0;
    height: auto;
}
footer {
    margin-top: 30px;
    background: rgba(255,255,255, 0.8);
    bottom: 0;
    width: auto;
    height: 100%;
}
.name_product {
    font-family: FontName, sans-serif;
    color: white;
    font-size: 40px;
}
.product-img {
    margin-top: 20px;
    width: 70%;
    height: auto;
}

.product-img:hover {
    transform: scale(1.5);
}


.price{
    font-family: FontName;
    color: white;
    font-size: 30px;
    vertical-align: center;
}
.basket{
    margin-left: 12%;
    width: 10%;

}
* {box-sizing: border-box}
/* Поля ввода полной ширины */
input[type=text], input[type=password] {
    font-family: FontName;
    font-size: 20px;
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: rgba(255,255,255, 0.5);
    border-radius: 50px;
}

/* Добавить цвет фона, когда входы получают фокус */
input[type=text]:focus, input[type=password]:focus {
    background: rgba(255,255,255, 0.5);
    outline: none;
}

/* Установите стиль для всех кнопок */



.cancelbtn, .signupbtn {
    float: left;
    width: 50%;
}


.container22 {
    padding: 16px;
}


.modal-content {
    margin: 5% auto 15% auto;
    width: 80%;
}

hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}


.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}


@media screen and (max-width: 300px) {
    .cancelbtn, .signupbtn {
        width: 100%;
    }
}

.textreg {
    font-family: FontName;
    color: black;
    font-size: 25px;
    margin-left: 20px;
}

.btn {
    width: 10%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}


.btn:hover {
    opacity: 1;
}

.fb {
    background-color: #3B5998;
    color: white;
    border-radius: 50px;
    align-items: center
}

.twitter {
    background-color: #55ACEE;
    color: white;
    border-radius: 50px;
}

.google {
    background-color: #dd4b39;
    color: white;
    border-radius: 50px;
}

.ssreg {
    font-family: FontName;
    text-decoration: none;
    color: black;
}
.img-thumbnail {
    width: 50%;
    height: 50%;
    border-radius: 50px;
}

.profile1 {
    margin-left: 40%;
    margin-right: 40%;
}

.imginbtn {
    border: none;
}

.textbasket {
    font-family: FontName;
    font-size: 30px;
}
.textbasket1 {
    font-family: FontName;
    font-size: 30px;
    margin-top: -30px;
}

}
.container2{
    margin-top: 5px;
    margin-left: 3%;
    overflow: auto;
    background: rgba(0,0,0, 0.5);
    width: 94%;
    height: 300px;
    border-radius: 50px;
    font-family: FontName;
    font-size: 25px;
    color: white;
}
.container3{
    margin-top: 5px;
    height: 50px;
    margin-left: 3%;
    overflow: auto;
    width: 94%;
    height: 100%;
    border-radius: 50px;
    font-family: FontName;
    font-size: 40px;
    color: white;
    text-decoration: none;
}

.btn2 {
    width: auto;
    background-color: rgba(0,128,0, 0.7) ;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 50px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; /* remove underline from anchors */
}
.login{
    font-family: FontName;
    font-size: 30px;
    margin-top: 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}



.btn_pagin {
    width: 10%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none;
}


.tippy-box {
  background-color: rgba(255, 255, 255, 0.8);
  color: black;
  font-family: FontName;
  font-size: 20px;
    border-radius: 50px;
    padding: 10px;
}

.img_fo_footer{
    margin-top: 5px;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.img_fo_footer:hover{
    opacity: 0.8;
}

.alerts {
    margin-top: 100px;
    margin-bottom: -150px;
    background: rgba(255, 0, 0, 0.6);
    width: 50%;
    font-family: FontName;
    font-size: 20px;
    padding: 10px;
    border-radius: 50px;
    opacity: 1;
    transition: opacity 1s, visibility 0s;
}



.closebtn {
    margin-right: -15px;
    margin-top: -15px;
    float: right;
    color: #DC5050;
    background: rgba(255,255,255, 0.7);
    border-radius: 50px;
    padding-right: 5px;
    padding-left: 5px;
}
.closebtn:hover {
    background: rgba(255,255,255, 0.9);
}

input[type=file] {
  width: 50%;
  max-width: 100%;
  color: black;
  padding: 5px;
  background: rgba(0, 128, 0, 0.2);
  border-radius: 1000px;
    font-size: 15px;
    font-family: Arial;

}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: rgba(0,128,0, 0.7);
  padding: 10px 20px;
  border-radius: 1000px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
    font-family: Arial;
}

input[type=file]::file-selector-button:hover {
  background: green;
}

input[type=file]:hover {
    opacity:1;
}



.btn_enter {
    border: none;
    font-size: 36px;
    position: relative;
    font-family: FontName;
    width: 80%;

}
.btn_enter::before {
  transition: all 0.85s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  content: "";
  width: 50%;
  height: 100%;
  background: black;
  position: absolute;
  top: 0;
  left: 0;
}
.btn_enter .btn-text {
  color: white;
  mix-blend-mode: difference;
}
.btn_enter:hover::before {
  background: rgba(255, 255, 255, 0);
  width: 100%;
}
.btn_enter.rounded {
  border-radius: 100px;
    background: rgba(0, 128, 0, 0.2);
}
.btn_enter.rounded .text-green {
  color: black;
  mix-blend-mode: darken;
}
.btn_enter.rounded::before {
  border-radius: 50px;
  width: 25%;
  background: rgba(0, 128, 0, 0.6);
}
.btn_enter.rounded:hover::before {
  background:rgba(0, 128, 0, 0.6);
  width: 100%;
}



.basket_remove {
    margin-left: 50px;
    color: rgba(0,0,0, 0.8);

}
.basket_remove:hover{
    color: rgba(0,0,0, 0.5);
}

.product_in{
    background: rgba(255,255,255, 0.5);
    display: block;
    border-radius: 60px;
    position: relative;
    text-decoration: none;
    z-index: 0;
    height:100%;
}



.number {
	display: inline-block;
	position: relative;
	width: 100px;
    background: rgba(255,255,255, 0.5);
    border-radius: 50px;
    font-family: FontName;
    margin-bottom: 5px;
    font-size: 20px;
    text-align: center;
}
.number input[type="number"] {
	display: block;
	height: 32px;
	line-height: 32px;
	width: 100%;
	padding: 0;
	box-sizing: border-box;
	text-align: center;
	-moz-appearance: textfield;
	-webkit-appearance: textfield;
	appearance: textfield;
}
@font-face {
    font-family: 'Font404';
    src: url('RubikWetPaint-Regular.ttf');
}
.text404{
    font-family: Font404;
    font-size: 100px;

}
.text404t{
    font-family: FontName;
    font-size: 30px;

}
.img404{
    width: 60%;
    height: auto;
}
.text404s{
    font-family: Font404;
    font-size: 30px;
    text-decoration: none;
    color: black;
}
.text404s:hover{
    text-decoration: none;
    color: rgba(0,0,0, 0.5);
}