
{% extends 'information/base.html' %}
{% load static %}

{% block css %}

{% endblock %}

{% block content %}

<section>
  <div id="tm-video-container"  style="margin-bottom: 10px">
    <video autoplay muted loop id="tm-video">
      <source src= {% static 'vendor/video/cit.mp4' %} type="video/mp4">
    </video>
    <i id="tm-video-control-button" class="fas fa-pause"></i>
  </div>
<div align="center" style="background: rgba(0, 0, 0, 0.5)">
      <div  style=" width: 70%">
        <h1 style=" color: #46007e">Сборник моих фирменных рецептов!</h1>
        <h2 style=" color: #46007e">Ага, именно это.</h2>
        <ul style="color: #46007e; list-style-type: none ">
          <hr size="3" color=black>
            {% for publication in object_list %}
              <li align="center" style=" width: 98%">
                <p>
                    <span style="color: #46007e; float: left; font-size: 30px"> {{ publication.category }} </span>
                    <span style="color: #46007e;  font-size: 40px">{{ publication.name }}</span>
                    <span style="color: #46007e;float: right; font-size:20px">{{ publication.created_timestamp.date }}</span></p>
                <p><img src="{{ publication.image.url }}" width="60%" height="100%" ></p>
                <p align="left" style="color: #46007e"> {{ publication.text }}</p>
              </li>
            {% endfor %}



        </ul>
      </div>
</div>
</section>
{% endblock %}